@import "./node_modules/bootstrap/scss/bootstrap";

$primary: #020c56 !default;
$secondary: #ffdce9;
$pink: #e797ef;
$purple: #a262f4;
$blue: #4978f2;
$indigo: #4945c9;
$navy: #020c56;
$light: #f7efe8;
$dark: #333132;
